<h1>Criar um novo Produto</h1>

<form action="/products/create" method="post">

    <div class="form-controll">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Insira o nome do produto">
    </div>
    
    <div class="form-controll">
        <label for="price">Preço</label>
        <input type="text" name="price" placeholder="Insira o valor do produto">
    </div>
    
    <div class="form-controll">
        <label for="name">Descrição</label>
        <textarea name="description" id="" cols="30" rows="10" placeholder="O que é este produto?"></textarea>
    </div>

    <input type="submit" value="Cadastrar Produto">
</form>